.container{
    animation: transitionIn 2s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translate(-50px)
    }

    to{
        opacity: 1;
        transform: translate(0px);
    }
}

@font-face{
    font-family: Staali;
    src: url(/Fonts/Staatliches-Regular.ttf);
}

@keyframes glowingAnimation{
20%{text-shadow: 0px 0px 5px #00000081;}
}

nav ul li a::after{
content: "";
height: 2px;
width: 0%;
background-color: black;
display: block;
transition: .3s ease-in-out;
margin-top: -30px;

}

nav ul li a:hover::after{
content: "";
height: 2px;
width: 100%;
background-color: #000000;
display: block;
}

nav ul li a:hover{
color: #000000;
animation: glowingAnimation;
animation-duration: 1s;
animation-iteration-count: 1;
}


.logo h1{
position: fixed;
width: 226px;
height: 177px;
left: -30px;
top: 15px;

font-family: Staatliches;
font-style: normal;
font-weight: 900px;
font-size: 45px;
line-height: 45px;
text-align: center;
z-index: 3;

color: #000000;

}

*{
padding: 0;
margin: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
font-family: Staali;
font-weight: 100;
color: #000000;
}

nav{
    position: fixed;
background: #D9DBBC;
width: 100%;
height: 120px;
border-radius: 0px 0px 300px 0px;
z-index: 3;

}

nav ul{
float: right;
margin-right: 100px;

}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0px 20px ;

}

nav ul li a{
color: #000000;
font-size: 17px;
text-transform: uppercase;

}


.content h1{
padding-left: 30px;
font-size: 50px;
font-family: Staali;
text-align: left;
margin-top: 20px;
font-weight: 80;
line-height: 1;
align-self: center;
}

.content h2{
position: absolute;
width: 300px;
height: 44px;
left: 89px;
top: 200px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 44px;
}

.content hr{
position: absolute;
width: 176px;
height: 0px;
left: 89px;
top: 250px;

border: 2px solid #000000;
}

.content p{
position: absolute;
width: 679px;
height: 261px;
left: 77px;
top: 295px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;

color: #000000;

}

.square img{
position: absolute;
width: 57px;
height: 63.81px;
left: 120px;
top: 890px;

background: url(/Assets/support.png);
}

.square #heart{
position: absolute;
width: 59.07px;
height: 57px;
left: 610px;
top: 890px;

background: url(/Assets/heart.png);
}


#img2{
position: absolute;
width: 150px;
height: 80px;
left: 1000px;
top: 515px;

background: rgba(255, 255, 255, 0.2);

}

#img1{
position: absolute;
width: 137px;
height: 376px;
left: 1000px;
top: 180px;

background: url(/Assets/standing\ person.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.rectangle{
position: absolute;
width: 1425px;
height: 600px;
left: 0px;
top: 650px;
border-radius: 0px 0px 0px 0px;

background: #E5E5E5;
}

.rectangle h1{
position: absolute;
width: 196px;
height: 44px;
left: 622px;
top: 40px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 44px;
z-index: 0;
}

.rectangle hr{
position: absolute;
width: 209px;
height: 0px;
left: 600px;
top: 100px;

border: 2px solid #737373;
}

#square1{
position: absolute;
width: 301px;
height: 364px;
left: 77px;
top: 800px;

background: #FFFFFF;
}

#square2{
position: absolute;
width: 301px;
height: 364px;
left: 569px;
top: 800px;

background: #FFFFFF;
}

#square3{
position: absolute;
width: 301px;
height: 364px;
left: 1056px;
top: 800px;

background: #FFFFFF;
}

#img3{
position: absolute;
width: 57px;
height: 63.81px;
left: 500px;
top: 600px;

background: url(/Assets/support.png);
}

.square #empathy{
position: absolute;
width: 57px;
height: 57px;
left: 1095px;
top: 890px;




}

.square #p1{
position: absolute;
width: 269px;
height: 100px;
left: 100px;
top: 1030px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
z-index: 0;

color: #000000;

}

.square #integrity{
position: absolute;
width: 107px;
height: 29px;
left: 100px;
top: 980px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
z-index: 0;

color: #000000;

}

.square #p2{
position: absolute;
width: 278px;
height: 80px;
left: 590px;
top: 1030px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #000000;

}

.square #passion{
position: absolute;
width: 233px;
height: 29px;
left: 590px;
top: 980px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
z-index: 0;

color: #000000;
}

.square #empathy1{
position: absolute;
width: 189px;
height: 29px;
left: 1080px;
top: 980px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
z-index: 0;

color: #000000;

}

.square #p3{
position: absolute;
width: 278px;
height: 80px;
left: 1080px;
top: 1030px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #000000;

}

.endLinks{
position: absolute;
width: 100%;
height: 180px;
left: 0px;
top: 2030px;

background: #4A4A48;
}

#aim{
position: absolute;
width: 99px;
height: 59px;
left: 210px;
top: 1330px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 59px;
z-index: 0;
/* identical to box height */


color: #000000;

}

#aim1{
position: absolute;
width: 400px;
height: 20px;
left: 70px;
top: 1400px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
text-align: center;
z-index: 0;
/* identical to box height */


color: #000000;

}

#motiv{
    position: absolute;
    width: 99px;
    height: 59px;
    left: 1000px;
    top: 1330px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    z-index: 0;
color: #000000;

}

#motiv1{
    position: absolute;
    width: 400px;
    height: 20px;
    left: 900px;
    top: 1400px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    z-index: 0;
    
}

#insp{
    position: absolute;
    width: 99px;
    height: 59px;
    left: 575px;
    top: 1630px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    z-index: 0;
    /* identical to box height */
}

#insp1{
position: absolute;
width: 400px;
height: 20px;
left: 480px;
top: 1710px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
text-align: center;
z-index: 0;
}